@import url('https://fonts.googleapis.com/css2?family=Itim&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: rgb(255, 214, 152);
    margin: 0;
    padding: 0;
}

body div {
    margin: 0 35vh;
}

body div img {
    width: 200px;
    margin: 10px auto;
    display: block;
    border-radius: 15px;
}

body div p {
    margin: 8px;
    font-family: 'Nunito', Times, serif;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
}

nav {
    padding: 10px 0; /* Add padding around the navbar */
    margin: 20px auto; /* Center the navbar and add space around it */
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Floating effect */
    border-radius: 10px; /* Rounded corners */
    max-width: 1200px;
    width: calc(100% - 40px); /* Ensure it fits well on different screen sizes */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Nunito', Times, serif;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Media query for devices with a max width of 768px */
@media (max-width: 768px) {
    body div {
        margin: 0 5vh;
    }

    body div img {
        width: 100%;
    }

    body div p {
        font-size: 18px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 5px;
    }
}
